<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.image_url %>);">
  <div class="container d-flex align-items-center justify-content-center">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <% @garden.plants.each do |plant| %>
      <div class="col-4">
        <div class="plant-card p-3 d-flex flex-column justify-content-between" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= plant.image_url %>);">
          <div class="d-flex justify-content-end">
            <%= link_to plant_path(plant), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
              <i class="fa-solid fa-circle-xmark text-white"></i>
            <% end %>
          </div>
          <p class="text-white"><%= plant.name %></p>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@garden, @plant] do |f| %>
    <%= f.input :name %>
    <%= f.input :image_url %>
    <%= f.submit %>
  <% end %>
</div>
